@import url('https://fonts.googleapis.com/css?family=Quicksand:500');
@import url('https://fonts.googleapis.com/css?family=Proza+Libre');

:root {
    --theme-full-color: rebeccapurple;
    --theme-less-color: #9370b7;
    --theme-half-color: #b299cc;
    --theme-light-color: #d1c1e0;
}
.btn-primary {
    background-color: var(--theme-less-color);
    border-color: var(--theme-full-color);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active:focus {
    background-color: var(--theme-full-color);
    border-color: var(--theme-full-color);
}
.btn-primary[disabled], .btn-primary[disabled]:hover {
    background-color: var(--theme-half-color);
    border-color: var(--theme-less-color);
}
a, a:hover, a:focus {
    color: var(--theme-full-color);
}
body {
    font-family: Proza Libre, sans-serif;
}

/* Litters page -------------------------------------------------------------- */
.loading {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    color: #F8F8F8;
}
.litters-grid {
    margin-top: 20px;
}
.litters-grid p {
    font-size: 120%;
}
.paging {
    cursor: pointer;
    color: black;
}
.disabled {
    cursor: not-allowed;
    color: lightgrey;
}
.litters-grid select {
    background-color: white;
    margin-bottom: 0px;
}
.grid-item {
    float: left;
    border: 1px solid darkgrey;
    background-color: white;
    text-align: center;
    margin: 0 20px 20px 0;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
}
.grid-item:hover {
    background-color: var(--theme-light-color);
}
.grid-item a {
    text-decoration: none !important;
    color: black;
}
.grid-item div {
    background: var(--theme-full-color);
    overflow: hidden;
}
.grid-item div img {
    width: 128px;
    height: 128px;
    object-fit: cover;
}
.grid-item:hover div img {
    opacity: 0.7;
    transform: scale(1.1);
}

/* Litter and Edit Litter pages ---------------------------------------------- */
.columns-container {
    padding: 10px 10px 0 10px;
}
.picture-column, .details-column, .grid-column {
    padding: 0 10px 0 10px;
    margin-top: 10px;
}
.picture-column-image {
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.picture-column-image #picture, .zoom-in-icon {
    cursor: zoom-in;
}
.zoom-in-icon {
    position: absolute;
    top: 15px;
    right: 25px;
    color: white;
    font-size: 300%;
    opacity: 0.35;
}
.picture-column img {
    min-width: 100%;
    max-height: 70vh;
    object-fit: cover;
}
.social-share {
    display: flex;
    font-size: 150%;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 0;
}
.social-share a {
    margin: 0 15px;
}
.social-share a i:after {
    content: '';
    display: block;
    position: relative;
    left: 2px;
    top: -18px;
    width: 48px;
    height: 48px;
    margin-left: -18px;
    margin-top: -16px;
    background: var(--theme-full-color);
    border-radius: 100%;
    opacity: .6;
    transform: scale(0);
}
.social-share a i.fa-facebook:after {
    left: 0px;
}
@keyframes ripple {
    0%   { transform: scale(0); }
    50%  { transform: scale(1); }
    100% { transform: scale(1); opacity: 0; }
}
.social-share a i:hover:after {
    animation: ripple .6s ease-out;
}
.details-column {
    text-align: left;
}
.details-column ul {
    padding-left: 25px;
}
.details-column li {
    line-height: 120%;
    padding: 15px 0;
    list-style: square outside url('/img/check_mark.svg');
}
input, select, #style, .input-group, .modal-body textarea, .radio-inline, .form-group {
    margin-bottom: 10px;
}
.date-picker, .input-group-addon {
    z-index: 0 !important;
}
.buttons {
    text-align: right;
}
.edit-button {
    float: right;
    width: 100%;
    margin-top: -64px;
}
.add-button {
    float: right;
    width: 100%;
}
.picture-column button, .details-column button {
    margin: 15px 0 15px 20px !important;
}
.picture-column button, .modal-body button {
    margin-bottom: -15px !important;
}
.modal-footer button {
    margin-left: 20px !important;
}
.grid-column button {
    margin-bottom: 20px;
}
.modal-body img {
    min-width: 100%;
    max-height: 50vh;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* Navbar -------------------------------------------------------------------- */
.main-nav { /* Keep the nav menu independent of scrolling and on top of other items */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.navbar-inverse, .navbar-inverse .navbar-toggle:focus {
    background-color: var(--theme-full-color);
}
.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-collapse {
    border-color: var(--theme-half-color);
}
.navbar-inverse .navbar-toggle:hover {
    background-color: var(--theme-less-color);
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a:focus {
    color: var(--theme-half-color);
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.navbar-inverse .navbar-nav > li > a:focus:hover {
    color: white;
}
.hide-navbar{
    visibility: hidden;
    display: none;
}
.navbar-brand {
    font-family: Quicksand, sans-serif;
    font-size: 44px;
    letter-spacing: -2px;
    margin-left: 5px;
    line-height: 0.275;
    color: var(--theme-light-color) !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.main-nav li .glyphicon {
    margin-right: 10px;
}
.glyphicon .fa-facebook {
    margin-left: 2px;
    margin-right: 5px;
}
.glyphicon .fa-share-alt {
    margin-right: 2px;
}

@media (max-width: 767px) { /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
    .user-page { /* ...but the nav menu isn't shown on user pages. */
        margin-top: -50px !important;
    }
}

@media (min-width: 768px) { /* On larger screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .main-nav .navbar {
        border-radius: 0;
        border-width: 0;
        height: 100%;
    }
    .main-nav .navbar-collapse {
        border-top: 1px solid var(--theme-half-color);
        padding: 0;
    }
    .main-nav .navbar ul {
        float: none;
    }
    .main-nav .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .main-nav .navbar li a {
        padding: 10px 16px;
        cursor: pointer;
    }
    .main-nav .navbar a {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
